form  * {
	background:transparent;
	font-family: Calibri,Arial,Helvetica,sans-serif;
}
fieldset {
	border:none;
}
input[type=text], input[type=password],input[type=submit],input[type=email], input[type=url],input[type=tel],input[type=number], input[type=datetime],textarea,button  {
	-webkit-appearance:none;
	-moz-appearance:none;
	border:none;
	background:white;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:5px;
	padding:5px;
	margin:0;
	margin-bottom:10px;
}
body {
	background: #dfe252;
	background: -webkit-linear-gradient(#543019,#dfe252) no-repeat, #dfe252;
	background: -moz-linear-gradient(#543019,#dfe252) no-repeat, #dfe252;
	background: -ms-linear-gradient(#543019,#dfe252) no-repeat, #dfe252;
	background: -o-linear-gradient(#543019,#dfe252) no-repeat, #dfe252;
	background: linear-gradient(#543019,#dfe252) no-repeat, #dfe252;
	filter:
		progid:DXImageTransform.Microsoft.gradient( startColorstr='#543019',endColorstr='#dfe252',GradientType=0 );
}
form {
	width:800px;
	width:80%;
	margin:0 auto;
	max-width:700px;
	min-width:300px;
	background: #ddd;
	padding: 35px;
	
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;

	-webkit-box-shadow: 10px 10px 20px #20242c;
	-moz-box-shadow: 10px 10px 20px #20242c;
	box-shadow: 10px 10px 20px #20242c;
}
form h1 {
	color: #3c3014;
	font-size: 1.6em;
	line-height:3em;
	text-align:center;
	background: url(../../_images/MCBCLogo2009_128.gif) no-repeat right top;
}
form h2 {
	color: #3c3014;
	font-size: 1.2em;
	margin-left:20px;
}
input[type="text"], input[type="email"], textarea {
	width:200px;
	width:80%;
	min-width:200px;
	margin: 10px 0 15px 45px;
	border:1px solid #888;

	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
}
#shifts input[type=text] {
	margin: 5px 0 0 5px;
}	
#shifts input[type=checkbox].full {
	display:none;
	color:red;
	font-weight:bold;
}
#shifts li {
	margin-left:54px;
	list-style:none;
}
#shifts p.title {
	margin-left:90px;
	font-size:1.1em;
	color: #3c3014;
}
#contact li {
	list-style:none;
}

/*  Align form elements horizontally  */
#contact label {
	position:absolute;
}
#shifts input.full+label {
	/* realign label repositioned by jQuery 'FULL!' insertion */
	position:relative;
	right:0px;	
}

#delimiter {
	width: auto;
	min-width:3em;
	margin:10px 0 15px 5px;
}

/*  Align form elements horizontally  */
label {
	margin: 0 0 15px 45px;
}
/*  --------------------------------  */
div.checkbox, input[type="radio"] {
	margin: 10px 0 15px 5px;
}
div.checkbox {
	position:relative;
}
div.checkbox label {
	position:absolute;
	left:-5px;
}
div.line_item input[type="text"] {
	width: 50%;
	min-width:100px;
}
input[type="radio"] {
	margin-top:0;
}
input[type=submit] {
	width:80px;
	width:20%;
	min-width:80px;
	height:30px;
	float:right;
	margin:5px 83px 20px 0;
	padding-bottom:5px;
	border:0;
	color:#fff;
	font-size:1em;
	font-weight:bold;
	cursor:pointer;
	
	background: #778b25;
	background:  -webkit-linear-gradient(#778b25,#3c4112);
	background:  -moz-linear-gradient(#778b25,#3c4112);
	background:  -ms-linear-gradient(#778b25,#3c4112);
	background:  -o-linear-gradient(#778b25,#3c4112);
	background:  linear-gradient(#778b25,#3c4112);
	filter:
		progid:DXImageTransform.Micros	oft.gradient( startColorstr='#466e82',endColorstr='#3c4112',GradientType=0 );

	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;

	-webkit-box-shadow: 3px 3px 3px #20242c;
	-moz-box-shadow: 3px 3px 3px #20242c;
	box-shadow: 3px 3px 3px #20242c;
}
input[type=submit]:hover {
	
	background: #543019;
	background:  -webkit-linear-gradient(#543019,#180e07);
	background:  -moz-linear-gradient(#543019,#180e07);
	background:  -ms-linear-gradient(#543019,#180e07);
	background:  -o-linear-gradient(#543019,#180e07);
	background:  linear-gradient(#543019,#180e07);
	filter:
		progid:DXImageTransform.Micros	oft.gradient( startColorstr='#543019',endColorstr='#180e07',GradientType=0 );

	-webkit-box-shadow: 3px 3px 3px #20242c;
	-moz-box-shadow: 3px 3px 3px #20242c;
	box-shadow: 3px 3px 3px #20242c;
}

@media only screen and (max-width:560px) {
	body {
		margin:5px;
	}
	form h1 {
		background:none;
		padding-right:0;
		height:auto;
	}
	
}
@media only screen and (max-width:480px) {
	
	img {
		display:none;
	}
	form {
		width:100%;
	}
}